*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: cadetblue;
    transition: 0.3s ease;
    display: flex;
    position: relative;
}

.forms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.forms i {
    padding:  10px;
    cursor: pointer;
}

.forms input {
    background: none;
    border: none;
    flex:  1;
    height: 100;
    outline: none;
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

div.inactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}